{% extends 'base.html.twig' %}

{% block body %}
  <h1>{{ title }}</h1>

  {{ form_start(form) }}
    {{ form_widget(form) }}
    <button>Guardar</button>
  {{ form_end(form) }}

  <p><a href="{{ path('supplier_index') }}">← Volver al listado</a></p>
{% endblock %}
